// 

.feed-section {
	margin: auto;
	width: 100%;

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.feed-options {
		padding: 5rem;
		border: 1px solid black;
		margin: 1rem;
		text-align: center;
		width: 100%;
	}
}
