// Global styling for frontend

// External content 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: @default;
}

// text
@light-text: #ffff;
@dark-text: #0000;
@default: 'Poppins', sans-serif;

html {
	height: 100%;
}

// a {
// 	text-decoration: none !important;
// }

.path-to-home {
	text-align: center;
	font-size: 30px;
	width: 100%;
}

#notes, #projects, #courses {
	.path-to-home {
		margin: 1rem;
	}

	.notes, #projects, .courses {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: start;
		margin: auto;
		width: 100%;

		.createNote, .createProject, .createCourse {
			border: 1px solid black;
			background: black;
			color: #ffff;
			border-radius: 5px;
			padding: 1rem;
			width: 100%;
			// margin: 5px 0;
		}
	}

	.el-timeline {
		padding: 0;
	}
}
